body {
    margin: 0;
    padding: 0;
    font-family: 'IBM Plex Mono', monospace;
}

*::selection {
	color: #000;
	background-color: #ddd;
}

p, h1, h2, a {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 500;
    color: #000;
    text-decoration: none;
    line-height: 20px;
}

p {
    margin: 5px 0;
}

h2 {
    font-size: 30px;
    margin-bottom: 15px;
    line-height: 40px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.title {
    display: flex;
    justify-content: space-between;
    width: 200px;
}

.title p {
    margin: 0;
}

.linkedin {
    width: 18px;
    height: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #0a66c2;
}

.linkedin:hover {
    color: #000;
    background-color: #ddd;
}

section {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-bottom: 40px;
}

.blocs {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 5px;
    width: max-content;
}

.bloc {
    min-width: 200px;
    height: 200px;
    flex: 1;
    margin: 5px;
    cursor: pointer;
    background-color: #565;
    background-size: cover;
    background-position: center;
}

.bloc.w2 {
    min-width: 410px;
}

@media all and (min-width: 1060px) {
    .blocs {
        max-width: 1050px;
    }
}

@media (min-width: 850px) and (max-width: 1059px) {
    .blocs {
        max-width: 840px;
    }
}

@media (min-width: 640px) and (max-width: 849px) {
    .blocs {
        max-width: 630px;
    }
}

@media (min-width: 430px) and (max-width: 639px) {
    .blocs {
        max-width: 420px;
    }
}

@media (max-width: 429px) {
    .blocs {
        max-width: 356px;
    }
    .bloc {
        min-width: 170px;
        height: 170px;
        margin: 4px;
    }
    .bloc.w2 {
        width: 348px;
    }
}

.hover {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    opacity: 0;
}

.hover:hover {
    opacity: 1;
}

.hover > p {
    margin: 15px;
    font-size: 16px;
}

.popup {
    width: 0;
    height: 0;
    display: none;
    cursor: auto;
}

.open {
    display: inherit;
}

.details {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    margin: auto;
    background-color: #fff;
    z-index: 2;
}

.d_desc {
    display: flex;
    flex-direction: column;
}

.d_img > img {
    display: block;
}

.d_btn > a {
    display: inline-block;
    color: #fff;
    background-color: #000;
    padding: 10px 25px;
    margin-top: 10px;
    margin-right: 10px;
}

.d_btn > a::after {
    content: url(res/icons/ext_link.svg);
    display: inline-block;
    transform: translateY(1px);
    margin-left: 5px;
}

.d_btn > a:hover {
    color: #000;
    background-color: #ddd;
}

.d_btn > a:hover::after {
    filter: invert(1);
}

@media (min-width: 1060px) {
    .details {
        width: 1000px;
        max-height: 85%;
        height: max-content;
        flex-direction: row-reverse;
    }
    .d_desc, .d_img  {
        width: 50%;
        box-sizing: border-box;
        overflow: scroll;
    }
    .d_desc {
        padding: 35px;
    }
    .d_img > img {
        width: 100%;
    }
    .d_btn {
        margin-top: auto;
    }
}

@media (max-width: 1059px) {
    .details {
        width: calc(100% - 30px);
        max-width: 500px;
        flex-direction: column;
        overflow: scroll;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .d_desc, .d_img  {
        padding: 15px;
    }
    .d_img > img {
        width: 100%;
    }
    .d_btn {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5px;
    }
}

.close-x {
    position: absolute;
    top: 0;
    right: 25px;
    width: 0;
    height: 0;
}

.close-x > div {
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #000;
    cursor: pointer;
}

.close-x > div:hover {
    color: #000;
    background-color: #ddd;
}

.close-out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

@font-face {
    font-family: 'IBM Plex Mono';
    src: url(res/fonts/IBM_Plex_Mono/IBMPlexMono-Light.ttf) format('truetype');
}